#first_font{
	font-family: 'Loved by the King', cursive;
}

#second_font{
	font-family: 'Oregano', cursive;
}

#third_font{
	font-family: 'Over the Rainbow', cursive;
}

body{
	background-color: yellow;
}
